* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 47rem;
    width: 100%;
    margin: 0 auto;
    background-color: var(--eggshell);
}
:root{
    --white: hsl(0, 0%, 100%);
    --rosewhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightgrey: hsl(30, 18%, 87%);
    --wengebrown: hsl(30, 10%, 34%);
    --darkcharcoal: hsl(24, 5%, 18%);
    --nutmet: hsl(14, 45%, 36%);
    --darkreaspberry: hsl(332, 51%, 32%);
}
img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
}
h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--darkcharcoal);
    font-size: 2.5rem;
    margin-bottom: 0;
}
.overview {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: var(--wengebrown);
        font-size: 1rem;
}
#prepContainer {
    background-color: var(--rosewhite);
    padding: 1rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 1rem;
}
#prepContainer h2{
    color: var(--darkreaspberry);
}
#prepContainer ul li {
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--wengebrown);
    padding-left: 2rem;
}
li {
    padding-left: 2rem;
    margin-bottom: 8px;
    font-family: "Outfit", sans-serif;
    color: var(--wengebrown);
}
#prepContainer span, span {
    font-weight: 600;
    color: var(--wengebrown);
    font-family: "Outfit", sans-serif;
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--nutmet);
    font-size: 1.8rem;
}
table {
    width: 100%;
}
table tr {
    border-bottom: 3px solid red;
}
#mainContainer {
    margin-top: 4rem;
    padding: 3rem;
    background-color: var(--white);
    border-radius: 1rem;
    max-width: 60rem;
}
